<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/oauth/index::head"></head>

<style>
    body
    {
        color:#337ab7;
    }
    </style>

<body>
<!--<nav th:replace="index::header"></nav>-->

<div style="text-align:center;margin-top: 20px;">
    <img src="/ShengTuRuiAIOld/about_bg.png">
</div>

<div class="container login">
    <div>
        <form action="/ShengTuRuiAIOld/loginSubmitGoogle" method="post">
            <div class="form-group" id="errorDiv" style="text-align:center;display:none">
                <div class="text-danger ">
                    userName or password wrong!
                </div>
            </div>

            <div style="font-size:25px;text-align: center;margin-top: 10px;">WelCome Back</div>

            <div class="form-group">
                <label for="usernameInput">Username</label>
                <input type="text" id="usernameInput" class="form-control" name="userName" placeholder="enter your username"/>
            </div>

            <input type="hidden" id="redirect_uri" th:value="${redirect_uri}" name="redirect_uri"/>
            <input type="hidden" id="state" th:value="${state}" name="state"/>

            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" id="passwordInput" class="form-control" name="password" placeholder="enter your password"/>
            </div>

            <div class="form-group text-center">
                <button type="button"  id="loginSubmit" class="btn btn-primary btn-lg btn-block" style="with:70px;"  >
                    Sign  in
                </button>
            </div>
        </form>
    </div>
</div>
<script src="/ShengTuRuiAIOld/jquery-3.2.1.min.js"></script>
<script>


    $("#loginSubmit").click(function () {
        $("#errorDiv").hide();
        var userNameValue = $("#usernameInput").val();
        var passwordValue = $("#passwordInput").val();
        var redirect_uri = $("#redirect_uri").val();
        var state = $("#state").val();

        if(userNameValue.length == 0 || passwordValue.length ==0 ){
            $("#errorDiv").show();
            return;
        }

        $(this).text("loading...");
        $.ajax({
            method: "POST",
            url: "/ShengTuRuiAIOld/loginSubmitGoogle",
            dataType:"json",
            data: { userName: userNameValue, password: passwordValue ,redirect_uri:redirect_uri,state:state }
        }).done(function( obj ) {
            $(this).text("Sign in");
            if(obj.status == 'success'){
                alert( "response: " + obj.data );
                window.location.href = obj.data;
            }else{
                $(this).text("Sign in");
                alert( "response: " + obj.data );
            }
        });
    })


</script>

</body>
</html>